<!-- <ngx-charts-bar-vertical [view]="view" [scheme]="scheme" [results]="datos" [xAxis]="xAxis" [yAxis]="yAxis"
  [legend]="legend" [legendPosition]="legendPosition" [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">

</ngx-charts-bar-vertical> -->

<ngx-charts-bar-horizontal [view]="view" [scheme]="scheme" [results]="datos" [xAxis]="xAxis" [yAxis]="yAxis"
  [legend]="legend" [legendPosition]="legendPosition" [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">
</ngx-charts-bar-horizontal>